<div>
    <div style="margin-left: 10%; margin-right: 10%; margin-top: 20px;">
        <div style="text-align: center;">ลงทะเบียน</div>
        <input [(ngModel)]="userName" style="margin-top: 10px;" class="form-control" placeholder=" username" type="text" />
        <input [(ngModel)]="passWord" style="margin-top: 10px;" class="form-control" placeholder=" password" type="password" />
        <div style="text-align: center; margin-top: 10px;">
            <button (click)="onRegister()" class="btn btn-primary">ตกลง</button>
        </div>
    </div>
</div>
